/* Style pour les boutons */
.button {
    -fx-background-color: #6c757d; /* Couleur de fond du bouton */
    -fx-background-radius: 30 0 0 30; /* Rayon des coins (arrondi à gauche) */
    -fx-border-radius: 30 0 0 30; /* Également pour assurer des coins arrondis uniformes */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-padding: 10 15; /* Ajustement de la marge intérieure pour un meilleur aspect */
}
